.map-container {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-container iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

header {
  background-color: rgb(252, 105, 7);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.nav-link {
  text-decoration: none;
}

.nav-link:hover {
  font-size: 20px;
  border-radius: 5px;
  padding: 5px;
  background-color: rgb(29, 124, 72);
  color: white;
}

footer {
  background-color: rgb(252, 105, 7);
}