$OrangeColor: rgb(252, 105, 7);
$GreenColor: rgb(29, 124, 72);

* {
    margin: 0;
    padding: 0;
}

body {

    header {
        background-color: $OrangeColor;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1;

        .nav-link {
            text-decoration: none;

            &:hover {
                font-size: 20px;
                border-radius: 5px;
                padding: 5px;
                background-color: $GreenColor;
                color: white;
            }

        }

    }

    .one {
        margin-top: 100px;

        a {
            background-color: white;
            text-decoration: none;
            color: black;

            .text {
                background-color: rgba(255, 255, 255, 0.466);
                padding: 10px;
                border-radius: 10px;

                &:hover {
                    background-color: rgba(252, 105, 7, 0.562);

                }

            }
        }

        .aside:hover {
            border-radius: 10px;
            box-shadow: 5px 5px 10px rgb(173, 172, 172),
            -5px -5px 10px rgb(173, 172, 172);
            font-size: 20px;
        }

    }

    footer {
        background-color: $OrangeColor;
    }
}