$OrangeColor: rgb(252, 105, 7);
$GreenColor: rgb(29, 124, 72);

* {
    margin: 0;
    padding: 0;
}

body {



    header {
        background-color: $OrangeColor;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1;

        .nav-link {
            text-decoration: none;

            &:hover {
                font-size: 20px;
                border-radius: 5px;
                padding: 5px;
                background-color: $GreenColor;
                color: white;
            }

        }

    }

    main {
        margin-top: 90px;
        margin-bottom: 10px;

    }

    footer {
        background-color: $OrangeColor;
    }
}